<html>
    <%- include('./templates/head.ejs', {pageTitle: "Error 404"}) %>
    <body>
        <%- include('./templates/navbar.ejs') %>
        <h2>Error 404: Page not found</h2>
        <a href="/">Home</a>
    </body>
</html>