<html>
    <%- include('./templates/head.ejs', {pageTitle: "Profile"}) %>
    <body>
        <%- include('./templates/navbar.ejs') %>

        <h1>Gallery</h1>
        <div id="gridContainer"></div>
    </body>
</html>