<html>
    <%- include('./templates/head.ejs') %>
    <body>
        <%- include('./templates/navbar.ejs') %>
        <h1>Save Senior Quotes</h1>
        <h2>Developed by: Nolan Jones</h2>
        <p>This is place where students who's schools do not have senior quotes can run their own.</p>
        <p>Currently the only school supported is Carmel High School (Carmel, Indiana)</p>

        <h1>Gallery</h1>
        <div id="gridContainer"></div>
    </body>
</html>