<html>
    <%- include('./templates/head.ejs', {pageTitle: "Login"}) %>
    <body>
        <%- include('./templates/navbar.ejs') %>
        <h2>Login</h2>
        <form action="/user/login" method="post">
            <input id="usernameInput" type="text" placeholder="Enter Username" name="username" required>
            <input id="passwordInput" type="password" placeholder="Enter Password" name="password" required>
            <button type="submit">Login</button>
        </form>
        <div class="g-signin2" data-onsuccess="onSignIn"></div>

        <button id="loginButton" type="button">
            <img src="./public/btn_google_signin_dark_pressed_web.png" alt="google sign in">
        </button>
        <script src="public/js/login.js"></script>
    </body>
</html>