<html>
    <%- include('./templates/head.ejs') %>
    <body>
        <%- include('./templates/navbar.ejs') %>
        <h2>Profile</h2>
        <h3>Username: <%=username%></h3>
        <h3>Quote: <%=username%></h3>
        <h2>Security</h2>
        <a href="/resetpassword">Reset Password</a>
    </body>
</html>