<html>
    <%- include('./templates/head.ejs', {pageTitle: "Reset Password"}) %>
    <body>
        <%- include('./templates/navbar.ejs') %>
        <h2>Reset Password</h2>
        <form action="/user/resetpassword" method="post">
            <input id="passwordInput" type="password" placeholder="Enter Password" name="password" required>
            <input id="confirmPasswordInput" type="password" placeholder="Confirm Password" name="confirmPassword" required>
            <button type="submit">Reset Password</button>
        </form>
        
        <script src="public/js/showError.js"></script>
        <script src="public/js/resetpassword.js"></script>
    </body>
</html>