<html>
    <%- include('./templates/head.ejs', {pageTitle: "Verify Identity"}) %>
    <body>
        <%- include('./templates/navbar.ejs') %>
        <h1>Verify Identity</h1>
        <form action="/user/verify" method="post">
            <button type="submit">Verify Identity</button>
        </form>
    </body>
</html>