#navbar{
    display: flex;
    justify-content: space-between;
    background-color: blanchedalmond;
    padding: 5px;
}

.picture{
    width: 170px;
    height: 230px;
    object-fit: cover;
}

.quote{
    word-wrap: break-word;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    width: fit-content;
    margin: 5px;
    width: 180px;
    vertical-align: top;
}

.review{
    display: inline-block;
    text-align: center;
    border: 3px solid black;
    width: fit-content;
    padding: 5px;
    margin: 5px;
    vertical-align: top;
}

.quoteholder{
    padding: 5px;
}

.submissionstatusreview{
    width: fit-content;
    padding: 5px;
    background-color: blanchedalmond;
}

.submissionstatusdenied{
    width: fit-content;
    padding: 5px;
    background-color: lightcoral;
}

.submissionstatusaccepted{
    width: fit-content;
    padding: 5px;
    background-color: lightgreen;
}

.erroralert{
    width: fit-content;
    background-color: lightcoral;
    padding: 5px;
}

.successalert{
    width: fit-content;
    background-color: lightgreen;
    padding: 5px;
}