#navbar{
    display: flex;
    justify-content: space-between;
    background-color: blanchedalmond;
    padding: 5px;
}

.picture{
    width: 100px;
    height: 150px;
    object-fit: cover;
}

.quote{
    margin: 0 auto;
    text-align: center;
    border: 3px solid black;
    width: fit-content;
    padding: 5px;
}

.review{
    text-align: center;
    border: 3px solid black;
    width: fit-content;
    padding: 5px;
}

.quoteholder{
    display: flex;
    padding: 5px;
}

.erroralert{
    width: fit-content;
    background-color: lightcoral;
    padding: 5px;
}

.successalert{
    width: fit-content;
    background-color: lightgreen;
    padding: 5px;
}