body{
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    background-color: white;
}

a{
    text-decoration: none;
}

h1{
    font-weight: bold;
    font-size: 3rem;
}

h2{
    font-weight: bold;
    font-size: 2rem;
}

*, ::after, ::before {
    box-sizing: border-box;
}

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 15px;
    margin-bottom: 10px;
}

.navbaritem{
    color: white;
    font-size: 1.4rem;
    margin: 5px 5px;
}

.containermain{
    margin-top: 1.5rem;
    text-align: center;
    align-items: center;
    padding-right: 30px;
    padding-left: 30px;
}

.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.textinput {
    display: block;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    margin: 1rem auto;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

button:hover{
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc !important;
    cursor: pointer;
}

button{
    border-color: #007bff !important;

    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 2px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.picture{
    width: 170px;
    height: 230px;
    object-fit: cover;
}

.quote{
    word-wrap: break-word;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    width: fit-content;
    margin: 5px;
    width: 180px;
    vertical-align: top;
}

.review{
    display: inline-block;
    text-align: center;
    border: 3px solid black;
    width: fit-content;
    padding: 5px;
    margin: 5px;
    vertical-align: top;
}

.quoteholder{
    padding: 5px;
}

.alert{
    text-align: left;
    width: fit-content;
    padding: .75rem 1.25rem;
    margin: 1rem auto;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.alertgreen{
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alertred{
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb
}