<head>
    <% if(typeof pageTitle == 'undefined') { %>
        <title>Save Senior Quotes</title>
    <% } else { %>
        <title>SSQ - <%=pageTitle%></title>
    <% }%>
    <link rel="stylesheet" href="public/css/main.css">
</head>