<head>
    <% if(typeof pageTitle == 'undefined') { %>
        <title>Save Senior Quotes</title>
    <% } else { %>
        <title>SSQ - <%=pageTitle%></title>
    <% }%>
    <link rel="stylesheet" href="/public/css/main.css">
    <meta name="google-signin-client_id" content="1098099976535-tlck488nu6n0gi97cmt354pci2f6bbcg.apps.googleusercontent.com.apps.googleusercontent.com">
</head>