<nav id="navbar">
    <div id="leftnavdiv" class="navbarsection">
        <a href="/" class="navbaritem">Home</a>
        <a href="/gallery" class="navbaritem">Gallery</a>
    </div>
    <div id="rightnavdiv" class="navbarsection">
        <% if(accessLvl >= 2) { %>

        <% }%>

        <% if(accessLvl >= 1) { %>
            <a href="/mod/review" class="navbaritem">Review</a>
        <% }%>

        <% if(!username) { %>
            <a href="/register" class="navbaritem">Register</a>
            <a href="/login" class="navbaritem">Login</a>
        <% } else { %>
            <a href="/profile" class="navbaritem">Profile</a>
            <a href="/logout" class="navbaritem">Logout</a>
        <% }%>
    </div>
</nav>