<div class="quote">
    <% if(quotepicture != null) { %>
        <img id="picturePreview" class="picture" src="<%=quotepicture%>" alt="current profile picture">
    <% } else { %>
        <img id="picturePreview" class="picture" src="/public/missingpicture.png" alt="current profile picture">
    <% }%> <br>

    <%=quotefirstname%> <%=quotelastname%> <br>
    "<%=quotequote%>"
</div>