<div class="quote">
    <% if(quotepicture != null) { %>
        <img id="picturePreview" class="picture" src="<%=quotepicture%>" alt="current profile picture">
    <% } else { %>
        <img id="picturePreview" class="picture" src="/public/missingpicture.png" alt="current profile picture">
    <% }%>

    <p style="margin-top: .5rem;">
        <%=quotefirstname%> <%=quotelastname%> <br>
        "<%=quotequote%>"
    </p>
</div>