<div class="quote">
    <% if(typeof quotepicture !== 'undefined') { %>
        <img id="picturePreview" class="picture" src="<%=quotepicture%>" alt="current profile picture">
    <% } else { %>
        <img id="picturePreview" src="/public/missingpicture.png" alt="current profile picture" style="max-width: 100;">
    <% }%> <br>

    <%=quotefirstname%> <%=quotelastname%> <br>
    "<%=quotequote%>"
</div>